html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  color: #ffffff;
  padding-top: 10em;
  -ms-overflow-style: none;
  background-color: #000000;
}

* {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  font-size: 70px;
  font-family: "Pixelify Sans" !important;
}

p {
  visibility: hidden;
}
